APP_NAME=Astro FreeLance Backend
APP_ENV=development
PM_BAGCHI_BASE_OFFSET_DEGREES=3.315422
PM_BAGCHI_YEAR_COEFF_DEGREES=-0.000723
PM_BAGCHI_SEASONAL_AMP_DEGREES=-0.298975
PM_BAGCHI_LON_TERM_AMP_DEGREES=-0.224951
