APP_NAME=Astro FreeLance Backend
APP_ENV=development
PM_BAGCHI_BASE_OFFSET_DEGREES=3.315422
PM_BAGCHI_YEAR_COEFF_DEGREES=-0.000723
PM_BAGCHI_SEASONAL_AMP_DEGREES=-0.298975
PM_BAGCHI_LON_TERM_AMP_DEGREES=-0.224951

# Database Configuration
MONGODB_URI=mongodb+srv://sagarghoshatrologer_db_user:BU1QbQOaKYZSlkv6@astro.of39jcl.mongodb.net/ mongo db data link
MONGODB_DB_NAME=astro_freelance
MAX_MONGODB_SIZE_BYTES=471859200

# Cloudinary Integration (fill in keys to enable offload storage when collection > 450MB)
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

